Majid-TF-GIT-Demo-Variables-Example/terraform.tfstate
Majid-TF-GIT-Demo-Variables-Example/.terraform/plugins/linux_amd64/lock.json
Majid-TF-GIT-Demo-Variables-Example/.terraform/plugins/linux_amd64/terraform-provider-aws_v3.1.0_x5
